body {
    background-color: lightgrey;

}

.header-banner {
    margin: 0;
    background-color: #fff;
    width: 100%;
    height: 80px;
    display: inline-block;

}

#logo {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 1%;
}

#title {
    font-family: 'Outfit', sans-serif;
    font-style: bold;
    margin-top: 1.5%;
}

.container {
    background-color: #fff;
}

.container .w-btns {
    padding-top: 50px;
    height: 40px;
}

#task {
    color: #fff;
    background-color: blue;
    border-color: blue;
    border-style: solid;
    border-radius: 3px;

}

#section {
    color: lightgrey;
    border-color: lightgrey;
    border-style: solid;
    border-radius: 3px;    
}

