/* general rules */
body {
    background-color: #F6F8F9;
    margin: 0;
}
/* end general rules */

/* begin header banner */
.header-banner {
    background-color: #fff;
    width: 100%;
    height: 50px;
    padding: 15px;
    display: inline-block;

}

#logo {
    float: left;
    height: 100%;   
    padding-right: 10px;
    vertical-align: middle;
}

#title {
    font-family: 'Outfit', sans-serif;
    font-style: bold;
    padding-left:10px;
    line-height: 20%;
}
/* end header banner */

/* begin main */


/* container with buttons */
.container {
    background-color: #fff;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.w-btns {
    height: 40px;
    margin-top: 50px;
    margin-bottom: 0;
}

.button {
    color: #fff;
    font-size: 9px;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    margin-top: 15px;
    margin-bottom: 5px;
    height: 20px;
}

#task {
    color: #fff;
    font-size: 9px;
    background-color: #5cb3ec;
    border-color: #5cb3ec;
    margin-left: 40px;
    width: 60px;
}

#section {
    color: lightgrey;
    background-color: #fff;
    border-color: lightgrey;
    width: 70px;
    height: 20px;   
}
/* end container with buttons */

/*begin to do list */

.main-list {
    margin-top: 2px;
    padding-top: 2px;
    padding-bottom: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

li {
    padding-top: 1%;
    padding-bottom: 1%;
}

.list-category {
    font-size: 16px;
    font-family: 'Outfit', sans-serif;
    font-style: bold;
    font-weight: 600;
    list-style-type: none;
    padding: 0;
    margin-left: 0;
    margin-bottom: 15px;
}

.list-category:before {
    content: "\25BE";
    margin-right: 5px;
}

.itemized {
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    list-style-type: none;
    padding: 0;
    margin: 0;
;
}
.done:before {
    content: "\2713"; 
    font-size: 8px;
    color: #81d4ad;
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: white;
    border-block-start-color:#81d4ad;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    border-style: solid;
    border-width: thin; 
    margin-right: 5px;       
}

.to-do:before {
    content: "\0078"; 
    font-size: 8px;
    color: #ff0000;
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    border-block-start-color: #ff0000;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    border-style: solid;
    border-width: thin;  
    margin-right: 5px;
    
}

span {
    border-radius: 10px;
    color: #fff;
    font-size: 8px;    
    padding:5px 10px;
    margin-left: 4px;

}

.editorial {
    background-color: #5cb3ec;

}

.Q1 {
    background-color: #ae64c0;
}

.Recruiting {
    background-color: #81d4ad
}

.mobile {
    background-color: #ffa500
}

.Website {
    background-color: #e06ee0;
}

.sales {
    background-color: #9cca57;
}

/* end to do list*/

/* end main/