body {
    background-color: #F6F8F9;
    margin: 0;
}

.header-banner {
    background-color: #fff;
    width: 100%;
    height: 80px;
    display: inline-block;

}

#logo {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 1%;
}

#title {
    font-family: 'Outfit', sans-serif;
    font-style: bold;
    margin-top: 1.5%;
}

.container {
    background-color: #fff;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.w-btns {
    padding-top: 50px;
    height: 25px;
    margin-top: 25px;
    margin-bottom: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#task {
    color: #fff;
    font-size: 10px;
    background-color: #5cb3ec;
    border-color: #5cb3ec;
    border-style: solid;
    border-radius: 3px;
    margin-left: 40px;
    margin-bottom: 25px;
    width: 60px;
    height: 20px;

}

#section {
    color: lightgrey;
    background-color: #fff;
    font-size: 10px;
    border-color: lightgrey;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    margin-bottom: 25px;
    width: 70px;
    height: 20px;   
}

.main-list {
    margin-top: 2px;
    padding-top: 2px;
    padding-bottom: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.list-category {
    font-size: 20px;
    font-family: 'Outfit', sans-serif;
    font-style: bold;
    font-weight: 600;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.list-category:before {
    content: "\25BE";
}

.itemized {
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.done:before {
    content: "\2713"; 
    width: 10px;
    color: green;
    display: inline-block;
    border: green;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;   
}

.to-do:before {
    content: "\10102"; 
    width: 10px;
    color: red;
    display: inline-block;
    border: red;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;   
}